Package: dev.water888.youmod
Name: YouMod
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Lightweight YouTube Enhancer
Maintainer: Tonwalter888
Author: Tonwalter888
Section: Tweaks